<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Payment Confirmation - Cafeteria</title>
<link rel="stylesheet" href="../static/css/stayle.css">
<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <header>
        <a href="#" class="logo">
            <img src="f" alt="">
        </a>
        <i class='bx bx-menu' id="menu-icon"></i>
        <ul class="navbar">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About us</a></li>
            <li><a href="products.html">Products</a></li>
            <li><a href="customers.html">Customers</a></li>
        </ul>
        <div class="header-icon">
            <i class='bx bx-cart-alt'></i>
            <i class='bx bx-search-alt-2' id="search-icon"></i>
        </div>
    </header>
    <main>
        <section class="confirmation">
            <div class="container">
                <div class="confirmation-content">
                    <i class='bx bx-check-circle' ></i>
                    <h2>Payment Successful!</h2>
                    <p>Thank you for your purchase. Your order has been confirmed and will be processed shortly.</p>
                    <a href="index.html" class="btn">Return to Home</a>
                </div>
            </div>
        </section>
    </main>
  
    <div class="copyright">
        <p>&#169; carpoolvenom all rights reserved by baz team</p>
    </div>
</body>
</html>
