<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Responsive Coffee Website</title>
<link rel="stylesheet" href="../static/css/stayle.css">
<link rel="stylesheet"
href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <header>
        <a href="#" class="logo">
            <img src="f" alt="">
        </a>
        <i class='bx bx-menu' id="menu-icon"></i>
<ul class="navbar">
    <li> <a href="#home"> Home</a></li>
    <li> <a href="#about"> About us</a></li>
    <li> <a href="#prdoucts">products</a></li>
    <li> <a href="#customrs">Customers</a></li>

</ul>    
<div class="header-icon">
    <i class='bx bx-cart-alt' ></i>
    <i class='bx bx-search-alt-2' id="search-icon"></i>
</div>

</header>
<section class="home" id="home">
    
    <div class="home-text">
        <h1>Start your day <br> with us </h1>
        <p> Lorem ixxxxxxxpsum dolor sit amet consectetur adipisicing elit. Nostrum xvxbfghdbngfbhsfdgnfhdnfhdnsitvvvvvvvvvvvveriores adipisci fugiat molestiae.</p>
        <a href="#" class="btn"> order now</a>
   
    
    </div>
    <div class="home-img">
        <img src="../static/photots/coffee-beans-with-props-making-coffee.jpg" alt="">
    </div>
</section>
<section class="about" id="about">
    <div class="about-img">
        <img src="../static/photots/logo.png" alt="">

    </div>
<div class="about-text">
    
    <h2>Our History</h2>
      
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit eum fuga veritatis, repudiandae quos exercitationem hic accusamus ea at ipsa. Tenetur, esse nam iure quos laudantium aperiam consequatur temporibus beatae?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis aliquid maxime quam suscipit laborum? Perspiciatis quidem excepturi animi vitae eum eaque enim reprehenderit est fugit error modi, maxime illum aliquam!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis repellendus ea nisi reiciendis, suscipit dolorem illo accusamus beatae nemo dolor eos rem consequatur. Odit tenetur nulla tempore quam soluta quo?</p>
      <a href="#" class="btn"> learn more</a>
</div>        
   
</section>

<section class="products" id="products">
    <div class="heading">
        <h2>
            Our Popular Food
        </h2>
    </div>
    <div class="products-container">
        <div class="box">
            <img src="../static/photots/delicious-asian-noodles-concept.jpg" alt="">
            <h3>f napoli menu </h3>
            <p>(inclusiv fries and drink)</p>
            <div class="content">
                <span>12$</span>
                <a href="#"class="add-to-cart" data-price="12">Add to cart</a>
            </div>
        </div>
        <div class="box">
            <img src="../static/photots/delicious-pasta-plate.jpg" alt="">
            <h3>pizza bbq</h3>
            <p>(inclusiv fries and drink)</p>
            <div class="content">
                <span>12$</span>
                <a href="#"class="add-to-cart" data-price="12">Add to cart</a>
            </div>
        </div>
        <div class="box">
            <img src="../static/photots/flat-lay-high-protein-meal-composition.jpg" alt="">
            <h3>penne Vagie</h3>
            <p>(inclusiv fries and drink)</p>
            <div class="content">
                <span>12$</span>

                <a href="#"class="add-to-cart" data-price="12">Add to cart</a>
            </div>
        </div>
        <div class="box">
            <img src="../static/photots/flat-lay-high-protein-meal-composition.jpg" alt="">
            <h3>penne Vagie</h3>
            <p>(inclusiv fries and drink)</p>
            <div class="content">
                <span>12$</span>
                <a href="#"class="add-to-cart" data-price="12">Add to cart</a>
            </div>
        </div>
        <div class="box">
            <img src="../static/photots/flat-lay-high-protein-meal-composition.jpg" alt="">
            <h3>penne Vagie</h3>
            <p>(inclusiv fries and drink)</p>
            <div class="content">
                <span>12$</span>
                <a href="#"class="add-to-cart" data-price="12">Add to cart</a>
            </div>
        </div>
        <div class="box">
            <img src="../static/photots/piece-meat-steak-teriyaki-sauce-with-vegetables.jpg" alt="">
            <h3>grilled cheese</h3>
            <p>(inclusiv fries and drink)</p>
            <div class="content">
                <span>12$</span>
                <a href="#"class="add-to-cart" data-price="12">Add to cart</a>
            </div>
        </div><div class="box">
            <img src="../static/photots/front-view-tasty-leaf-dolma-inside-plate-white-surface.jpg" alt="">
            <h3>burger</h3>
            <p>(inclusiv fries and drink)</p>
            <div class="content">
                <span>12$</span>
                <a href="#"class="add-to-cart" data-price="12">Add to cart</a>
            </div>
        </div><div class="box">
            <img src="../static/photots/fresh-french-croissants-tablecloth.jpg" alt="">
            <h3>pizaa</h3>
            <p>(inclusiv fries and drink)</p>
            <div class="content">
                <span>12$</span>
                <a href="#"class="add-to-cart" data-price="12">Add to cart</a>
            </div>
        </div>
    </div>
</section>
<div class="checkout-button">
    <a href="checkout.html" class="btn">Go to Checkout</a>
</div>
<section class="customers" id="customers">
    <div class="heading">
        <h2>
            Our customers
        </h2>
    </div>
    <div class="customers-container">
        <div class="box">
            <div class="stars">
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star-half' ></i>
                
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quia ea facere debitis saepe tempora aperiam soluta quaerat hic, enim molestias perspiciatis cum fugit, dolorum magni quasi esse, voluptates at.</p>
            <h2>Ali Elshafey</h2>
            <img src="../static/photots/ali.jpg" alt="">
        </div>
        <div class="box">
            <div class="stars">
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star-half' ></i>
                
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quia ea facere debitis saepe tempora aperiam soluta quaerat hic, enim molestias perspiciatis cum fugit, dolorum magni quasi esse, voluptates at.</p>
            <h2>Abdallah Elbaz</h2>
            <img src="../static/photots/abda.jpg" alt="">
        </div>
        <div class="box">
            <div class="stars">
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star-half' ></i>
                
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quia ea facere debitis saepe tempora aperiam soluta quaerat hic, enim molestias perspiciatis cum fugit, dolorum magni quasi esse, voluptates at.</p>
            <h2>Mostafa Elmehi</h2>
            <img src="../static/photots/jj.jpg" alt="">
        </div>
    </div>
</section>
<section class="footer" id="footer">
    <div class="footer-box">
        <h2>
            cafteria shop
        </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae unde ipsam molestias debitis non. Mollitia quos quia voluptatum iusto at nemo nostrum aspernatur, necessitatibus nesciunt aliquid animi tempore nobis nulla!</p>
        <div class="social">
            <a href="#"><i class='bx bxl-facebook' ></i></a>
            <a href="#"><i class='bx bxl-instagram' ></i></a>
            <a href="#"><i class='bx bxl-tiktok' ></i></a>
 
        </div>
        <div class="footer-box">
            <h2>support</h2 >
                <li><a href="">products</a></li>
                <li><a href="">Help</a></li>
                <li><a href="">Return</a></li>
                <li><a href="">Terms of Use</a></li>
                <li><a href="">products</a></li>

            </div>
            <div class="footer-box">
                <h3>Contact</h3>
                <span>25 Heroldstrasse , dortmund 44145</span>
                <span>+4915739607786</span>
                <span>cafteria.dortmundHospi@beispiel.com</span>
            </div>
    </div>
</section>
<div class="copyright">
    <p>
        &#169; carpoolvenom all right reserve by baz team
    </p>
</div>
<script src="../static/Js/main.js"></script>
    </body>
 </html>